// ============================================= 

//  Base SCSS                

// ============================================= 


//  Imports            
// =============================================
@import "compass/css3";
@import "partials/mixins";
@import "partials/type";
@import "partials/variables";


//  FOR DEMO PAGE ONLY           
// =============================================

*, *:before, *:after { -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; box-sizing: border-box;
 }

body {
	padding: 10px 0; 
	@media (min-width: $small) {
		padding: 20px; 
	}
}


// Stacked colors
// =============================================

.LiteracyLanguage {
	background-color: $bground-17;
	color: $bground-17;
	fill: $bground-17;
}
.MathScience {
	background-color: $bground-16;
	color: $bground-16;
	fill: $bground-16;
}
.MusictheArts {
	background-color: $bground-15;
	color: $bground-15;
	fill: $bground-15;
}
.AppliedLearning {
	background-color: $bground-14;
	color: $bground-14;
	fill: $bground-14;
}
.SpecialNeeds {
	background-color: $bground-12;
	color: $bground-12;
	fill: $bground-12;
}
.HistoryCivics {
	background-color: $bground-11;
	color: $bground-11;
	fill: $bground-11;
}
.HealthSports  {
	background-color: $bground-10;
	color: $bground-10;
	fill: $bground-10;
}

.fc-insufficient {
	color: $bground-gray;
	fill: $bground-gray;
}

.requests, .fulfilled, .connectors {
	stroke: white;
	& rect, polygon {
		@include trans(0.2s, opacity, ease-in-out);
	}
}


//  Base styles            
// =============================================

.fc-graphic-article {
	margin: 0 auto;
	max-width: 520px;
	height: 100%;
	color: $txt-black;
	font-size: 11px;
	font-family: $sans;
	text-rendering: optimizeLegibility;
	@media (min-width: $small) {
		font-size: 14px;
	}
}

.fc-decorative-border {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.fc-decorative-border-box {
	@include inline-block;
	margin: 0;
	width: calc(100%/7);
	height: 10px;
	list-style: none;
}

.fc-graphic-container {
	position: relative;
	padding: 30px 15px 15px;
	border-right: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	border-left: 1px solid $light-gray;
	background-color: $bground;
	@media (min-width: $small) {
		padding: 30px 20px 20px;
	}
}

.fc-graphic-overline {
	margin: 0 0 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	color: $med-gray;
	font-weight: 300;
	font-size: 11px;
}

.fc-graphic-title {
	margin: 0 0 10px -2px;
	letter-spacing: -1px;
	font-weight: 600;
	font-size: 42px;
	line-height: 90%;
	@media (min-width: $small) {
		font-size: 48px;
	}
}

.fc-graphic-copy {
	color: $dark-gray;
	font-weight: 300;
	font-size: 12px;
	line-height: 140%;
	@media (min-width: $small) {
		font-size: 14px;
	}
}

.fc-graphic-byline {
	letter-spacing: .5px;
	line-height: 90%;
}

.fc-graphic-content-block {
	margin: 0 0 25px;
}

.fc-graphic-subhed {
	margin: 0 0 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	font-size: 14px;
		font-weight: 500;

	@media (min-width: $small) {
		font-size: 14px;
	}
}

.fc-graphic-subhed-select {
	padding-bottom: 7px;
}

.fc-graphic-select {
	margin: 0 0 0 2px;
	vertical-align: text-bottom;
}

.fc-graphic-trend-list {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.fc-graphic-trend-item {
	@include inline-block;
	margin: 0 15px 5px 0;
}

.fc-graphic-annotation {
	color: $dark-gray;
	font-weight: 300;
}

.fc-graphic-annotation-requests {
	margin: 0 0 3px;
}

.fc-graphic-annotation-funded {
	margin: 0 0 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e6dfd1;
}

.fc-graphic-legend {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.fc-graphic-legend-item {
	@include inline-block;
	@include trans(0.2s, opacity, ease-in-out);
	margin-right: 5px;
	width: 47%;
	background-color: white;
	font-size: 36px;
	line-height: 40%; // Magic numbers sighhhhh
	@media (min-width: 450px) {
		width: 30%;
	}
	@media (min-width: 570px) {
		width: 23%;
	}
	&:before {
		margin-left: -5px;
		padding-right: 2px;
		content: "\002022";
	}
}

.fc-graphic-legend-text {
	color: $dark-gray;
	vertical-align: top;
	letter-spacing: .5px;
	font-weight: 500;
	line-height: 90%;
}

.fc-graphic-extremes-list {
	margin: 0 0 5px;
	padding: 0;
	list-style: none;
}

.fc-graphic-extremes-item {
	@include trans(0.2s, border-color, ease-in-out);
	margin: 0 4px 8px 0;
	padding: 5px 8px 4px 16px;
	border: 1px solid $light-gray;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 6px 7px;
	background-size: 8px;

	&:hover {
		border: 1px solid $dark-gray;
		& .fc-graphic-tag {
			color: $dark-gray;
		}
	}

	@media (min-width: $small) {
		@include inline-block;
		padding: 2px 8px 3px 16px;
		background-position: 6px 7px;
	}
}

.fc-graphic-most {
	background-image: url('/icon_up.svg');
	// background-image: url('/projects/donors_choose/icon_up.svg');
}

.fc-graphic-least {
	background-image: url('/icon_down.svg');
	// background-image: url('/projects/donors_choose/icon_down.svg');
}


.fc-graphic-extremes-active {
	border: 1px solid $dark-gray;
	& .fc-graphic-tag {
		color: $dark-gray;
	}
}

.fc-graphic-tag {
	@include trans(0.2s, color, ease-in-out);
	color: $med-gray;
	text-decoration: none;
	font-weight: 300;
}

.sources-copy {
	display: block;
	padding-top: 7px;
	border-top: 1px solid $light-gray;
	color: $med-gray;
	letter-spacing: .5px;
	font-weight: 300;
}

.sources-leadin-reverse {
	color: white;
	font-weight: 600;
}

.sources-copy-reverse {
	color: $light-gray;
}






// STACKED BAR CHART

.fc-stacked-bar {
	@include trans(0.2s, opacity, ease-in-out);
	position: relative;
	margin: 0 0 1px;
	opacity: 0;
}

.fc-graphic-label {
	@include absolute(0 0 0 10px);
	margin: 0;
	color: $dark-gray;
	letter-spacing: .5px;
	font-weight: 500;
	pointer-events: none;
}

.fc-graphic-requested {
	top: 15px;
}

.fc-graphic-fulfilled {
	top: 75px;
}

.connectors {
	opacity: .5;
}





// HOVER STATES
.fc-graphic-inactive {
	opacity: .2;
}


