// ============================================= 

//  Base SCSS                

// ============================================= 


//  Imports            
// =============================================
@import "compass/css3/inline-block";
@import "partials/mixins";
@import "partials/type";
@import "partials/variables";



//  Base styles            
// =============================================

.graphic-article {
	margin: 0 auto;
	max-width: 623px;
	height: 100%;
	background: white;
}

.graphic-title {
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 100%;
	@media (min-width: $smedium) {
		font-size: 60px;
	}
}

.graphic-dek {
	display: block;
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	font-family: $sans;
	line-height: 120%;
}

#chart {
	margin-bottom: 10px;
}

.graphic-copy {
	margin: 5px 0px 15px;
	font-size: 14px;
	line-height: 140%;
}

.graphic-container {
	padding: 10px;
	background-color: $bground;
	@media (min-width: $small) {
		padding: 20px;
	}
}




// BAR CHART

.bar-chart {
	margin-top: 10px;
}

.bar-bg {
	fill: $bground;
}

.bar {
	fill: $bground-4;
	shape-rendering: crispEdges;
}

.name {
	font-weight: 500;
	font-size: 12px;
}

.value-labels {
	font-size: 11px;
	@media (min-width: $smedium) {
		font-size: 12px; 
	}
}

.x-axis-label {
	font-size: 11px;
	fill: $med-gray;
	@media (min-width: $smedium) {
		font-size: 12px; 
	}
}

.domain { 
	fill: none; 
	stroke: $med-gray; 
	stroke-width: 1; 
} 

.sources-copy {
	display: block;
	margin-bottom: 5px;
	padding-top: 10px;
	border-top: 1px solid $med-gray;
	color: $med-gray;
	text-align: left;
	font-size: 11px;
	line-height: 130%;
	@media (min-width: $small) {
		font-size: 12px;
	}
}

.tooltip {   
	position: absolute;           
	font-family: $sans;              
	padding: 10px;             
	font-size: 12px;        
	background: $bground;   
	border: 1px solid $bground-4;      
	pointer-events: none;    
	font-weight: 300;     
}

.tooltip-param {
	color: $med-gray;
}






