// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/mixins"; 
@import "compass/css3/inline-block";
@import "components/variables"; 


//  Import partials              
// =============================================
// @import "partials/reset";
@import "partials/type";



//  Base styles            
// =============================================

.graphic-article {
	margin: 0 auto;
	max-width: 623px;
	height: 100%;
	background: white;
}

.graphic-header {
	position: relative;
	margin-bottom: 10px;
	@media (min-width: $large) {
		// margin-bottom: em(40);
	}
}

.graphic-title {
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 100%;
	@media (min-width: $smedium) {
		font-size: 60px;
	}
}

.graphic-dek {
	display: block;
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	font-family: "MuseoSans",Helvetica,Arial,sans-serif;
	line-height: 120%;
}




// BAR CHART

#chart {
	margin-bottom: 10px;
}

.body-copy {
	display: block;
	margin-bottom: 20px;
	line-height: 150%;
}

.graphic-copy {
	margin: 5px 0px 10px;
	font-size: 14px;
	line-height: 140%;
}

.graphic-container {
	padding: 10px;
	background-color: $bground;
}

.start-line {
	stroke: $med-gray;
}

.grid-line {
	stroke: $light-gray;
}

.bar-bg {
	fill: $bground;
}

.bar {
	fill: $bground-4;
	shape-rendering: crispEdges;
}

.name {
	font-weight: 500;
	font-size: 12px;
	@media (min-width: $small) {
		// font-size: 12px;
	}
}

.value-labels {
	font-size: 11px;
	@media (min-width: $smedium) {
		font-size: 12px; 
	}
}

.x-axis-label {
	font-size: 11px;
	fill: $med-gray;
	@media (min-width: $smedium) {
		font-size: 12px; 
	}
}

.axis line {
	stroke: #ccc;
	stroke-width: 1;
}

line.median {
	stroke: #777;
	stroke-width: 1;
}

.tick text {
	font-size: 11px;
	fill: $med-gray;
	@media (min-width: $small) {
		font-size: 12px;
	}
}

.tick-labels {
	font-size: 11px;
	fill: $med-gray;
	@media (min-width: $small) {
		font-size: 12px;
	}
}

.domain { 
	fill: none; 
	stroke: $med-gray; 
	stroke-width: 1; 
} 

.event-year {
	fill: $med-gray;
}

.sources-copy {
	display: block;
	margin-bottom: 5px;
	padding-top: 10px;
	border-top: 1px solid $med-gray;
	color: $med-gray;
	text-align: left;
	font-size: 11px;
	line-height: 130%;
	@media (min-width: $small) {
		font-size: 12px;
	}
}

.tooltip {   
	position: absolute;           
	font-family: "MuseoSans",Helvetica,Arial,sans-serif;              
	padding: 10px;             
	font-size: 12px;        
	background: $bground;   
	border: 1px solid $bground-4;      
	pointer-events: none;    
	font-weight: 300;     
}

.tooltip-param {
	color: $med-gray;
}






